body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #00030a;
}

.app {
  text-align: center;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}